
@media (max-width: 1028px) {
.rodape {
  width: 100%;
  height: 4rem;
  border-radius: 12px 12px 0 0;
  background: var(--branco);
  filter: drop-shadow(0 -1px 3px #46464625);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.rodape nav {
  width: 100%;
}

.rodape nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.rodape nav .rodape__acao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--cinza--fonte);
  font-size: 12px;
}

.rodape nav .rodape__acao:first-child {
  color: var(--azul);
}

.rodape__acao:hover {
  color: var(--azul);
}

}
@media (min-width: 1029px) and (max-width: 1728px) {
 
  .rodape {
    width: 8rem; /* adjust the width to match the desired footer width */
    height: 100vh; /* adjust the height to match the full viewport height */
    border-radius: 12px 0 0 12px; /* adjust the border radius to match the new orientation */
    background: var(--branco);
    filter: drop-shadow(0 -1px 3px #46464625);
    display: flex;
    flex-direction: column; /* change the flex direction to column */
    position: fixed; /* add position fixed to keep the footer at the left side */
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .rodape nav {
    height: 100%; /* adjust the height to match the full viewport height */
    display: flex;  
  }
  
  .rodape nav > ul {
    list-style: none;
    display: flex;
    padding-top: 1rem;
    padding-left: 0.5rem;
    gap: 2rem;
    flex-direction: column; /* change the flex direction to column */
    height: 100%; /* adjust the height to match the full viewport height */
  }
  
  .rodape nav .rodape__acao {
    display: flex;
    flex-direction: row; /* change the flex direction to row */
    align-items: left;
    justify-content: left;
    gap: 0.5rem;
    color: var(--cinza--fonte);
    font-size: 12px;
  }
  
  .rodape nav .rodape__acao:first-child {
    color: var(--azul);
  }

  .rodape__acao:hover {
    color: var(--azul);
  }
  

}

