:root {
  --c1: #f6f6f6;
  --fonte-principal: "Montserrat", sans-serif;
  --preto: #464646;
  --c2: #a3a3a3;
  --w: #ffff;
  --p1: #ffb050;
  --p2: #4894ff;
  --c3: #ececec;
}

.c1 {
  color: var(--c1);
}

.preto {
  color: var(--preto);
}

.c2 {
  color: var(--c2);
}

.c3 {
  color: var(--c3);
}

.p1 {
  color: var(--p1);
}

.p2 {
  color: var(--p2);
}